@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

body {
    font-family: Pretendard-Regular;
    font-size : 16px;
    font-weight: 400;
}

/* ------------------------ header styles ---------------------------- */

#header {
    height : 900px;
    padding-top : 30px;
    background-color : #F2E9D8;
    padding-left : 15%;
}

#header .top-navigation-bar {
    display : flex;
    align-items: center;
    justify-content: space-between;
    padding-right : 15%;
}

#header .img-top-logo {
    width : 130px;
}

#header .top-navigation-right {
    display: flex;
    align-items: center;
}

#header .top-navigation-txts {
    display: flex;
    justify-content: space-between;
    width : 205px;
    margin-right : 49px;
    font-family: Pretendard-Regular;
    font-size : 16px;
    font-weight: 400;
}

#header .top-navigation-txts li:hover {
    font-weight: 700;
}

#header .head-txt-01 {
    font-size : 48px;
    font-weight : 700;
    line-height: 60px;
}

#header .head-txt-02 {
    margin-top : 40px;
}

.main-center-txt-01,
.top-map-txt,
.txt-main-top-01 {
    font-size : 36px;
    font-weight : 700;
}

#header .header-box {
    margin-top : 84px;
    display : flex;
    align-items: center;
    justify-content: space-between;
    width : 100%;
}

#header .box-hat-cat {
    width : 415px;
    height: 766px;
    padding-right : 15%;
}

#header .main-center-txt-02 {
    margin-top : 40px;
    line-height: 20px;
}

#header .btn-download-02 {
    margin-top : 40px;
}

/* -------------------------- main styles ---------------------------- */

#main {
    width : 80%;
    padding-top : 80px;
    background-color: #FFFFFF;
    padding-left : 15%;
}

#main .main-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#main .lying-down-cat {
    width : 660px;
    height: 390px;
    border-radius : 30px;
    box-shadow: 10px 10px 30px rgb(0, 0, 0, 0.25);
}

#main [class $= "cat"]:not(.lying-down-cat){
    width : 378px;
    height : 378px;
    border-radius : 30px;
    box-shadow: 10px 10px 30px rgb(0, 0, 0, 0.25);
}

#main .main-top-txts {
    padding-right : 10%;
    margin-left : 30px;
}

#main .txt-main-top-01 {
    line-height: 45px;
}

#main .txt-main-top-02 {
    margin-top : 30px;
    line-height: 20px;
}

#main .main-center-txts {
    text-align: center;
    margin : 120px 0px 0px -10%;
    max-width : 100%;
    text-align: center;
    padding-left : 5%;
}


.main-center-txt-01, .main-center-txt-02 > span {
    color : #D97652;
}

#main .main-center-txt-02 {
    margin-top : 40px;
    line-height: 20px;
}

#main .main-imgs {
    margin-top : 88px;
    text-align: center;
    padding-right : 10%;
}

#main .main-imgs-group {
    display : flex;
    flex-flow: wrap;
    justify-content: space-between;
    gap : 76px;
}

.main-imgs-group img:hover {
    transform: scale(1.1);
}

button {
    border : none;
    background-color: #D97652;
    color : #FFFFFF;
    border-radius : 40px;
    width : 140px;
    height : 50px;
    font-size : 16px;
    font-weight: 700;
}

button:hover {
    background-color: #d73f0f;
}

/* ---------------------infinite scroll styles ----------------------- */

#infinite-scroll {
    display : none;
    margin-top : 50px;
    margin-right : 10%;
}

#infinite-scroll .infinite-scroll-list {
    list-style: none;
}

#infinite-scroll .infinite-scroll-list li img {
    width : 100%;
}

.show-more {
    text-align: center;
    margin : 100px 0px 0px -13%;
    max-width : 100%;
    padding-left : 8%;
}

#main .show-more-txt {
    font-size : 24px;
    font-weight : 700;
    margin-bottom : 28px;
}

#main .btn-close-scroll {
    display: none;
    margin : 50px 0px 0px 50%;
    transform : translate(-50%, -50%);
}

#main .division-line {
    width : 70%;
    height : 1px;
    margin : 80px 0px 0px 15%;
    background-color: rgba(196, 196, 196, 0.6);
}

/* ------------------------- map styles ------------------------------ */

#map {
    padding : 68px 15% 0px 15%;
}

#map .map-box {
    height:520px;
    border-radius : 12px;
    position : relative;
    left : 0;
}

#map .map-top-txt-01 {
    font-size: 36px;
    font-weight: 700;
}

#map .map-top-txt-02 {
    font-size: 16px;
    font-weight: 500;
    color: rgba(96, 99, 103, 1);
    margin : 20px 0 48px 0px;
}

/* ----------------------subscribe box styles ------------------------ */

#subscribe {
    margin-top: 80px;
    margin-left: 15%;
    width: 70%;
    position: absolute;
}

#subscribe .subscribe-box {
    display : flex;
    justify-content: space-between;
    background-color: #263140;
    color : #FFFFFF;
    padding : 50px 58px 50px 58px;
    border-radius : 30px;
}
#subscribe .subscribe-txt-01 {
    font-size : 36px;
    font-weight : 700;
}

#subscribe .subscribe-txt-02 {
    font-size : 14px;
    font-weight : 400;
    color : #F2E9D8;
    margin-top : 18px;
    line-height: 18px;
}

#subscribe .email-box {
    width: 530px;
    height: 60px;
    border-radius: 60px;
    background-color: #FFFFFF;
    justify-content: space-between;
    padding : 18px 6px 18px 28px;
    box-sizing : border-box;
    display: flex;
    margin-top : 18px;
}

#subscribe .input-email {
    background-image: url("../media/mail.png");
    background-repeat: no-repeat;
    border: none;
    padding-left : 30px;
    font-size : 16px;
    color : #767676;
}

#subscribe input-email::placeholder {
    font-family: Pretendard-Regular;
}

#subscribe .btn-subscribe {
    margin-top : -13px;

}

/* ----------- subscribe box background cat img styles --------------- */

.cat-eyes-box {
    margin-top : 180px;
    max-height: 340px;
    overflow: hidden;
    position : relative;
    z-index: -1;
}

.cat-eyes {
    width : 100%;
    max-height: initial;
    margin-top: -20%;
}

/* -------------------------- footer styles --------------------------- */

#footer {
    background-color: #FFFFFF;
    padding : 45px 0px 45px 0px;
    display: flex;
    justify-content: space-around;
}

#footer .footer-hodu-logo {
    width : 226px;
    height : 70px;
}

#footer ul {
    display: flex;
    width : 228px;
    height : 42px;
    justify-content: space-around;
    margin-top : 15px;
}

#footer .sns-btn {
    display : flex;
    width : 228px;
    justify-content: space-between;
}

#footer .sns-btn button {
    width : 42px;
    height : 42px;
    background-color : #F29D52;
}

#footer .sns-btn button:hover {
    background-color : #d73f0f;
}

#footer .sns-btn button img {
    width : 24px;
    height: 24px;
    margin: 3px 0px 0px 1px;
}

/* -------------------- back to top btn styles ----------------------- */

.btn-back-to-top {
    display : none;
    width : 50px;
    height : 50px;
    border : 1px solid #C4C4C4;
    background-color : #FFFFFF;
    border-radius : 100px;
    opacity: 80%;
    position : fixed;
    top : 90%;
    left : 95%;
}

.arrow-up {
    width : 40px;
    height : 40px;
    margin-left : 5px;
    margin-top : 4px;
}

.btn-back-to-top:hover {
    opacity: 1;
}

/* -------------------------- modal styles --------------------------- */

#modal {
    display : none;
    width : 600px;
    height : 400px;
    text-align: center;
    position: relative;
    padding : 60px 100px 40px 100px;
    background-image: url("../media/modal_bg.png");
    background-repeat: no-repeat;
    box-sizing: border-box;
    border-radius: 30px;
    z-index : 100;
    top : -500px;
    left: 50%;
    transform : translate(-50%, -50%);
}

#modal .modal-inner-contents {
    position : absolute;
}

#modal .modal-thanks {
    font-size : 36px;
    font-weight: 700;
    color : #D97652;
    margin-top : 24px;
}

#modal .modal-explain {
    font-size : 14px;
    margin-top : 12px;
}

#modal .btn-modal {
    width : 183px;
    height : 50px;
    margin-top : 38px;
}